<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unify"
        tools:targetApi="31">
        <activity
            android:name=".B_ConnexionSpotifyCrea"
            android:exported="true"
            android:label="@string/title_activity_connexion_spotify_opt_withconstraints"
            android:theme="@style/Theme.Unify.NoActionBar" />
        <activity
            android:name=".D_MdpOublie"
            android:exported="true" />
        <activity
            android:name=".D_MailEnvoye"
            android:exported="true" />
        <activity
            android:name=".C_Participants_TODO"
            android:exported="true" />
        <activity
            android:name=".MenuSuggestionsPart"
            android:exported="true" />
        <activity
            android:name=".D_CreationCompte"
            android:exported="true" />
        <activity
            android:name=".modif_compte"
            android:exported="true" />
        <activity
            android:name=".D_ChangerMdp"
            android:exported="true" />
        <activity
            android:name=".overlay_settings_guest"
            android:exported="true" />
        <activity
            android:name=".overlay_settings_host"
            android:exported="true" />
        <activity
            android:name=".B_RejoindreSalon"
            android:exported="true" />
        <activity
            android:name=".B_ChoixTypeSalon"
            android:exported="true" />
        <activity
            android:name=".B_ConnexionSpotifyUser"
            android:exported="true" />
        <activity
            android:name=".InterfacePrincipale"
            android:exported="true" />
        <activity
            android:name=".SalonSpotify"
            android:exported="true" />
        <activity
            android:name=".A_SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".B_PageConnexion"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Unify.NoActionBar" />
    </application>

</manifest>